// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;

  .session {
    float:right;
    margin: 1.1em
  }

  .error {
    color: red;
  }
  tbody input {
    width: 250px;
  }
}

